<div style="background: black; padding: 30px; margin: -10px;">
  <img src="http://teendevcamp.files.wordpress.com/2014/03/teendevcamp_logo_white1.png">
</div>
<h4>Challenge-based Curriculum</h4>
Start with the first challenge, and work your way down the list.
<ol>
  <li><a href="editor.html">editor</a> - use editor to create a text file</li>
  <li><a href="deface.html">deface</a> - deface your favorite website</li>
  <li><a href="htmledit.html">htmledit</a> - download and edit an HTML file</li>
  <li><a href="events.html">events</a> - mouse movement</li>
  <li><a href="motion.html">motion</a> - moving an object</li>
  <li><a href="css.html">CSS (styles)</a> - styling HTML object</li>
  <li><a href="mousecolor.html">mouse + color</a> - using the mouse to pick a color</li>
  <li></li>
  <li></li>
</ol>
